.error {
    color: rgb(117, 9, 9); /* Change text color to red */
    background-color: #ffecec; /* Change background color to light red */
    padding: 5px; /* Add some padding to make it stand out */
    border: 1px solid #a30b0b; /* Add a border around the error message */
    border-radius: 3px; /* Round the corners */
  }